*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    background-image: url(./images/Layer\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;
    flex-wrap: wrap;
}
.header__title__list__item{
    list-style: none;
    margin: 0;
    border-right: 1px solid #d7d7d7;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__title__list{
    margin: 0;
    padding: 0;    
    display: flex;
}
.header__title{
    font-size: 49px;
    color: #676666;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header__title_decorator{
    color: #ff7700;
}
.header__title__list__item__text{
    font-size: 16px;
    color: #545454;
    text-align: center;
    margin-top: 10px;
}
.header__title__list__link{
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.header__title__list__item__image{
    background-image: url(./images/Layer\ 6.png);
    width: 30px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.header__title__list__item:hover{
    border-bottom: 4px solid #ff7d00;
    background-image: url(./images/Layer\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header__title__list__item:last-child{
    border-right: none;
}
.header__title__list__item__image__2{
    background-image: url(./images/Layer\ 4.png);
}
.header__title__list__item__image__3{
    background-image: url(./images/Layer\ 4\ copy.png);
}
.header__title__list__item__image__4{
    background-image: url(./images/Layer\ 7.png);
}
.image__upload{
    margin-top: 40px;
}
.image__upload__text{
    font-size: 30px;
    font-weight: bold;
    color: #565555;
    text-align: center;
}
.image__upload__form{
    display: flex;
    justify-content: center;
}
.image__upload__input{
    border-color: #d7d7d7;
    width: 35vw;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    display: block;
}
.image__upload__button{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 1.7vw;
    width: 15vw;
    background-image: url(./images/Layer\ 10\ copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.image__upload__input::after{
    content: "Browse";
    position: absolute;
    width: 100px;
    height: 35px;
    padding: 9px;
    background-color: #565555;
    
}
.images__cards__list{
    width: 75%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image__card{
    margin-top: 20px;
    list-style: none;
    width: 200px;
    height: 280px;
    padding: 8px;
    box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.2);
    border-radius: 2px;
}
.image__card__text{
    position: relative;
    font-size: 15px;
    color: #979393;
    padding-top: 10px;
    padding-bottom: 10px;

}
.share__text{
    color: #979393;
    font-size: 14px;
    margin-right: 10px;
}
.share__image{
    background-image: url(./images/Layer\ 16.png);
    background-color: #b1adad;
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    padding: 6px;
    border-radius: 50%;
    margin-right: 3px;
    position: relative;
}
.share__image .TooltipText{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.share__image:hover .TooltipText{
    visibility: visible;
}
.share__image .TooltipText{
    width: 120px;
    top: 150%;
    left: 220%;
    margin-left: -60px;
}
.share__image .TooltipText::after{
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 10%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.share{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    border-top: 1px solid #979393;
    justify-content: flex-end;
    align-items: center;
}
.facebook{
    background-image: url(./images/Facebook.png);
}
.mail{
    background-image: url(./images/Layer\ 18.png);
}
.tumblr{
    background-image: url(./images/tumblr.png);
}
.share__image:hover{
    background-color: #283e8f;
}
.image__card__image{
    background-image: url(./images/535243_10150923064910552_1460192173_n\ copy.png);
    width: 100%;
    height: 70%;
    
}
.image__card__text::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 6px;
    background-image: url(./images/Layer\ 17.png);
    top: 7px;
    right: 0;
}
.copyright{
    color: #b1adad;
    margin-bottom: 40px;
    margin-left: 55%;
}
@media(max-width: 550px){
    .header__title__list__item{
        width: 25vw;
    }
    .image__upload__input{
        width: 50vw;
    }
    .image__upload__button{
        width: 25vw;
        font-size: 3.5vw;
    }
}
@media(max-width: 320px) {
    .header__title{
        font-size: 35px;
    }
}